DEMUCS_API_URL=https://demucs.stanley.arpa
DEMUCS_API_MODEL=htdemucs_ft
DEMUCS_API_CA_CERT=/path/to/certs/ca/stanley.crt
DEMUCS_API_POLL_SECS=15
DEMUCS_API_TIMEOUT_SECS=360

UPSNAP_URL=https://upsnap.example.com
UPSNAP_USERNAME=admin@example.com
UPSNAP_PASSWORD=your_password
UPSNAP_DEVICE_NAME=YourDeviceName
UPSNAP_CA_CERT=/path/to/ca.crt
UPSNAP_INSECURE_TLS=false
UPSNAP_STATUS_POLL_SECS=5
UPSNAP_STATUS_TIMEOUT_SECS=180

TELEGRAM_TOKEN=your_bot_token_from_botfather
ALLOWED_USERS=your_telegram_user_id

SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret
YOUTUBE_COOKIE_FILE=/path/to/youtube/cookies.txt

DEFAULT_PLAYLIST_DIRECTORY=/home/jake/Music/Playlists